.search-container--drinks {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: 0 -15px;
}

.drink--wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.drink {
  display: flex;
  align-items: center;
}

.drink-img {
  width: 30%;
  box-sizing: border-box;
  border: solid #d4d4d4;
  padding: 20px 30px;
  border-width: 1px;
  overflow: hidden;
}

.drink-img a {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.drink-img img {
  max-width: 100%;
  height: 250px;
  transition: .5s;
  pointer-events: none;
}

.drink:hover .drink-img img {
  transform: scale(1.1);
  transition: .5s;
}

.drink-info {
  width: 70%;
  padding-left: 30px;
}

.drink-name {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.drink-name:hover {
  color: #fca53c;
}

.container-litrage-and-prise {
  display: flex;
  flex-direction: column;
}

.drink-litrage {
  color: #808080;
  padding: 5px;
  border: #fca53c solid 1px;
  width: 40px;
  text-align: center;
  margin: 20px 0 0;
}

.drink-price {
  font-size: 1.3rem;
  color: #808080;
  margin: 10px 0;
}

.drink-description {
  color: #808080;
  margin: 10px 0;
}

.drink-Stock {
  font-size: .9rem;
  color: #008812;
  margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.button-cart {
  box-sizing: border-box;
  color: #808080;
  padding: 5px 5px 5px 30px;
  height: 35px;
  width: 140px;
  text-transform: uppercase;
  background: #fff url(../img/btn-cart.png) no-repeat left 10px;
  background-position-x: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.button-wishlist {
  color: #808080;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  height: 35px;
  width: 35px;
  background: #fff url(../img/btn-wishlist.png) no-repeat center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.button-cart:hover {
  border: 0;
  color: #fff;
  background-color: #fca53c;
  background-image: url(../img/btn-cart-hover.png);
}

.button-wishlist:hover {
  border: 0;
  background-color: #fca53c;
  background-image: url(../img/btn-wishlist-hover.png);
}

.search-container--view {
  display: flex;
  border: solid #dfdfdf;
  border-width: 1px 0 1px 0;
  margin: 10px 0;
}

.container--view {
  display: flex;
  padding: 10px 0;
}

.view-button {
  font-size: 1.5rem;
  color: #808080;
  background-color: #d4d4d4;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
}

.view-button--active {
  background-color: #fca53c;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.view-button:hover {
  background-color: #fca53c;
  color: #fff;
}

.conteiner--drinksGroups {
  margin-left: auto;
  display: flex;
  text-align: center;
}

.group-drink {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 5px;
  width: 32px;
  border: #dfdfdf solid 1px;
  color: #000;
  cursor: pointer;
}

.group-drink--active {
  color: #fca53c;
  cursor: default;
}

.group-drink:hover {
  color: #fca53c;
}

.unfulfilled-condition {
  display: flex;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: #ffced4;
  color: #d04a5b;
  cursor: default;
}

.unfulfilled-condition-message {
  height: fit-content;
  margin: auto 0;
}

.clouse-message {
  font-size: 2rem;
  cursor: pointer;
}

.clouse-message:hover {
  color: #808080;
}

.not-match-any {
  padding: 30px 0 15px;
  margin: 0 15px;
}

@media (min-width: 480px) {
  .drink--table.drink--wrapper {
    padding: 15px;
  }

  .drink--table .drink-name {
    display: block;
    font-size: 1.4rem;
    height: 4.2rem;
  }

  .drink--table .view-button {
    display: none;
  }

  .drink--table .drink-description {
    display: none;
  }

  .drink--table .drink {
    display: block;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    height: auto;
  }

  .drink--table .drink-img {
    width: 100%;
    border-width: 0;
  }

  .drink--table .drink-info {
    width: 100%;
    padding: 0;
  }

  .drink--table .container-litrage-and-prise {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: 760px) {
  .drink--table.drink--wrapper {
    width: 33.3333%;
    padding: 10px 15px;
  }
}

@media (min-width: 480px) and (max-width: 760px) {
  .drink--table.drink--wrapper {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .drink-name {
    display: block;
    font-size: 1.4rem;
    height: 4.2rem;
  }

  .view-button {
    display: none;
  }

  .drink-description {
    display: none;
  }

  .drink {
    display: block;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    height: auto;
  }

  .drink-img {
    width: 100%;
    border-width: 0;
  }

  .drink-info {
    width: 100%;
    padding: 0;
  }

  .container-litrage-and-prise {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
