.container-spinner {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
    display: flex;
}

.container-spinner--none {
    display: none
}

.body--block {
    overflow-y: hidden;
}

.spinner {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: 16px solid #fca53c;
    border-bottom: 16px solid #ffb65e;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}